body{color: #333;}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background: rgb(43, 155, 230);
    z-index: 5;
    position: fixed;
    top: 0;
}
.menu{width: 60%; margin: 0 auto; display: flex;}
nav a{
    width: calc(100% / 4);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    transition: 0.3s;
    color: white;
}
nav a:hover{color: yellow; background: rgb(112, 195, 250);}

/* 모바일버전 nav */
#nav{
    width: 100%;
    background-color:rgba(43, 155, 230, .6);
    display: none;
    position: fixed;
    top: 0;
    z-index: 3;
    color: white;
}
#nav h2{padding: 20px;}
.nav{
    display: flex;
    justify-content: space-between;
}
.ham{
    /* float: right;
    transform: translateY(-50px); */
    margin-right: 5px;
    padding-top: 10px;
}
.close{
    /* float: right;
    transform: translateY(-50px); */
    margin-top: 50px;
    margin-right: 5px;
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}
.line{
    width: 50px;
    height: 10px;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
}
.x{
    width: 50px;
    height: 10px;
    background: white;
    position: absolute;
    top: 0;
    
    border-radius: 5px;
}
.x:nth-child(1){
    transform: rotate(45deg);
}
.x:nth-child(2){
    transform: rotate(-45deg);
    
}
.m_menu{display: none;}
.m_menu li{
    /* width: 100%; */
    list-style: none;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 auto;
}
.m_menu li:nth-child(1){
    border-top: 1px solid white;
}
.m_menu a{
    
    
    color: white;
    line-height: 50px;
    transition: 0.3s;
    font-size: 30px;
    width: 100%;
}
.m_menu a:hover{color: yellow;}
/* section1 */
section{
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 1px solid #333;
    display: flex;
    flex-wrap: wrap;
}
/* .Fixed {
    position: fixed;
    top: 0px;
} 위치고정 클래스 */

/* main page */
section:nth-child(1) h1{
    font-family: 'HSGyeoulNoonkott20';
    font-size: 3rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: fade 6s;
    margin: 0;
}
section:nth-child(1){
    background: url("https://cdn.pixabay.com/photo/2020/09/01/06/00/sky-5534319_960_720.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    animation: fade 6s;
    color: white;
}

@keyframes fade {
    0%{opacity: 0;}
    50%{opacity: 1;} /* 배경애니 */
}
.box{
    width: 20%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@keyframes slide{
    0%{transform: translate(0, 100px);}
    50%{transform: translate(0, 0);}  /* 박스애니메이션 */
}
.night img{
    width: 20%;
    /* animation: rotate 12s infinite; */
}
.night a{
    display: flex; align-items: center; justify-content: center;
    border: deepskyblue 2px solid;
    color: deepskyblue;
}
@keyframes rotate {
    100%{transform: rotate(360deg);}
}
.night{
    position: fixed;
    width: 10%;
    top: 90%;
    left: 80%;
    /* transform: translate(-70%, -50%); */
    font-size: 20px;
    z-index: 30;
    background: rgba(255, 255, 255, .6) 
}
section:nth-child(1) p{
    transform: translate(0, 0px);
    font-size: 20px;
    animation: slide 6s;
}

/* who */
section:nth-child(2){
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
    font-size: 4rem;
}
.who{width: 60%; margin: 0 auto; display: flex; flex-wrap: wrap;}
.profile{
    width: 40%;
    /* padding-left: 10%; */
    
}
h1{width: 100%; margin-top: 10%;}
.profile img{
    width: 300px;
    height: 300px;
}
.profile li{list-style: none;}
.profile li:nth-child(2) img{border-radius: 50%; border: rgb(112, 195, 250) 4px solid;}
.text{
    width: 60%;
    /* padding-left: 5%; */
    font-size: 20px;
    line-height: 40px;
    /* font-weight: bold; */
    margin-top: 10%;
}
table{
    border-collapse: collapse;
    margin-top: 5%;
}
th, td{
    border: 1px solid #333; text-align: center; padding: 5px;
    border-left: 0;
    border-right: 0;
}
td{background: aliceblue;}
th{background: powderblue;}
/* skill */
section:nth-child(3){
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
progress{
    height: 30px;
    width: 30%;    
    margin-right: 10px;
}
.bar{ /* 수치문단 */
    width: calc(50% - 10%);    
    padding-left: 10%;
    transform: translateX(-50%);
    transition: 0.6s;
}
.per{ /* 언어 별 수치 문단*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
    padding: 5px 0;
}
.bar img{width: 60px; height: 60px; padding-right: 10px;}
.notice{
    width: calc(50% - 40px);
    line-height: 60px;
    font-size: 20px;
    transform: translateX(100%);
    transition: 0.6s;
    padding-right: 40px;
    text-align: left;
}
/* works */
.works{
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}
.works ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.works li{
    list-style: none; width: 200px; text-align: center;
    line-height: 30px;
    padding: 5px;
}
.works a{
    width: 200px;
    list-style: none;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: block;
    border: 2px solid gray;
}

.trans{
    width: 200px; height: 200px;
    background: rgba(125, 12, 217, 0.6);
    transform: translate(0, 0);
    transition: 0.4s;
    position: absolute;
    top: 200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans p{
    color: white;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}
.works a:hover .trans{transform: translate(0,-200px);}
.works img{
    width: 100%; 
    transition: 0.3s;
}
.chi{height: 200px;}
footer{
    background: rgb(0, 82, 136);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

footer h2{
    font-size: 2rem; line-height: 80px;
}
footer p{line-height: 30px; font-size: 20px;}
footer p:nth-child(2){
    padding-bottom: 20px;
}
footer span{color: lime;}
.git{display: flex; justify-content: center;}
footer img{width: 50px; padding-bottom: 10px;}

