@media all and (max-height: 800px) {
    .profile img{width: 200px; height: 200px;}
}

@media(max-width:600px){
    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    h1{width: 100%;}
    .profile{width: 100%;}
    .profile img{float: left;}
    .text{width: 100%;}
    .profile img{width: 150px; height: 150px;}

}
@media(max-width:450px){
    .box{
        width: 400px;}
    .bar{width: 100%;}
    .notice{width: 100%;}

}
@media(max-width:450px) {
    nav{display: none;}
    #nav{display: block;}
    .box{
        width: 400px;
        font-size: 19px;

    }
}