header{
    width: 100%;
    background: whitesmoke;
    position: fixed;
    /* top: 0; */
    z-index: 9;
    /* position: relative; */
}
/* body{padding-top: 5%;} */
#header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}
body{
    color: #333;
}
html{scroll-behavior: smooth;}
.menu{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.menu li{
    /* width: 100%; */
    text-align: center;
    
}
.menu a{
    font-size: 20px;
    /* padding-right: 100px; */
    line-height: 100px;
    display: block;
    border-bottom: 3px solid whitesmoke;
}
.menu a:hover{
    border-bottom: 3px solid black;
}
.sub a{
    line-height: 40px; font-size: 15px;
    border-bottom: 0;
    
}
.sub a:hover{border-bottom: 0;}
.s_menu{
    width: 100%;
    position: absolute;
    top: 103px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, .8);
    z-index: 2;
    display: none;
    
}
.sub li{text-align: center;}
.sns img{margin: 0 auto; padding-top: 20px; transition: 0.3s;}
.sns a{line-height: 40px;}
.re h3{line-height: 100px;}
.color{display: none;}
.sns img:hover .color{
    display: block;
}
/* .sns img:hover .sub li:nth-child(2){
    display: block;
} */
section{
    width: 100%;
    height: 100vh;
    text-align: center;
    
}
section:nth-child(odd){
    background:gainsboro;
}
/* slide */
#slide{
    width: 100%;
    height: 100vh;
    background: url("../img/slide1.jpg") no-repeat;
    background-size:cover;
    /* background-position:center center; */
    /* position: absolute;
    top: 0; */
    position: relative;
}
.left{
    position: absolute;
    top: 50%;
    left: 30px;
}
.right{
    position: absolute;
    top: 50%;
    right: 30px;
}
.arrow img{width: 50px;}
/* section2 */
h1{
    line-height: 50px; 
    text-align: center; padding-top: 10%;
    font-size: 2rem;
    border-bottom: 5px solid deepskyblue;
    width: 100%;
    border-radius:5px;
}
/* p{ font-size: 15px;} */
.sub_title{line-height: 40px; text-align: center; width: 100%;}
#iframe{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#iframe h3{font-size: 20px; line-height: 50px;}
.i_left{
    width: 40%;
}
.i_right{
    width: 60%;
}
.list{display: flex; line-height: 50px; justify-content: space-between;}
.list p{
    position: relative; right: 50px; text-align: left;
    font-size: 13px;
}

#map{
    width: 100%;
    height: 300px;
}
.tap_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
table{
    line-height: 50px;
    border-collapse: collapse;
    margin-top: 5px;
}
td{padding:0 30px; text-align: left;}
td, th{
    border-bottom: 1px solid gray;   
}
th{border-top: 2px solid black; background: lightgray;}
.address{width: 500px;}

/* section3 */
section h1{width: 1000px; margin: 0 auto; }
section:nth-child(3) h1{border-color:salmon;}
#brand{width: 100%; display: flex; text-align: center;}
.family_brands{width: 25%; }
#brand h3{line-height: 50px;}
.sam_logo{
    width: 50%; background: azure; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.logoes{
    width: 40%;
    background: white; 
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 70px;
}
/* #brand img{margin: 0 auto;} */
.family_brands h3{width: 100%;}
.family_brands{display: flex; flex-wrap: wrap;}
.family_brands img{width: 100px;}
.snow img{width: 50px;}
.family_brands p{line-height: 40px; margin: 0 auto;}

/* section4 */
section:nth-child(4) h1{border: 0;}
#notice{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    
}
#notice ul{
    display: flex;
    
}
.news li{
    width: calc(100% / 3);
    line-height: 50px;
    text-align: center;
    background: oldlace;
    border-right: 1px solid gray;
}
.news li:nth-child(3){border: 0;}
.news a{display: block;}
.news a.on{background: royalblue; color: white;}

.data{position: relative; flex-wrap: wrap;}
.data img{width: 100%; height: 187px;}
.data li{width: calc(100% / 4 - 20px); padding: 10px;}
.plus{
    width: 100px; line-height: 40px; 
    /* position: absolute;
    bottom: -40px; */
    right: 0;
    border: 1px solid gainsboro;
    color: gray;
    margin: 0 auto;
}
.plus a{display: block;}
.insta{display: none; position: relative; flex-wrap: wrap;}
.insta img{width: 100%; height: 187px;}
.insta li{width: calc(100% / 4 - 20px); padding: 10px;}
.studio{display: none; position: relative; flex-wrap: wrap;}
.studio img{width: 100%; height: 187px;}
.studio li{width: calc(100% / 4 - 20px); padding: 10px;}

/* footer */
footer{width: 100%; background: powderblue; padding-bottom: 30px;}
#footer{width: 1000px; margin: 0 auto; display: flex;}

.f_left{width: 50%}
.under li{
    display: inline-block; 
    padding-right: 20px;
    font-size: 13px;
}
.under img{width: 50px; position: relative; top: 10px;}
.f_right{width: 50%;}
footer p{font-size: 13px; color: gray;}
@media(max-height:800px) {
    #map{
        width: 100%;
        height: 200px;
    }
    h1{padding-top: 1%;}
    table{line-height: 35px;}
    .logoes{
        width: 115px;
        background: white; 
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        padding: 10px;
        height: 50px;
    }
    .data img{width: 100%; height: 120px;}
}