@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}
img{border: 0; display: block; width: 100%;}
#wrap{
    width: 100%;
    /* height: 4000px; */
    margin: 0 auto;
    background: #00A2F2;
    position: relative;
    padding-top: 5%;
    overflow: hidden;
}
#title{
    width: 90%;
    /* height: 100vh; */
    background: white;
    /* position: absolute;
    top: 60px;
    left: 58px; */
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.head{
    width: 70%;
    display: flex; justify-content: space-around;
    position: absolute;
    top: 10.7% ;
    left:4.4% ;
}
.head li{transform: translateY(100px); opacity: 0;}
.head li.on{transform: translateY(0); opacity: 1;}
.head li:nth-child(1).on{transition: 0.3s;}
.head li:nth-child(2).on{transition: 0.5s; transition-delay: 0.2s;}
.head li:nth-child(3).on{transition: 0.7s; transition-delay: 0.4s;}
.head li:nth-child(4).on{transition: 0.9s; transition-delay: 0.6s;}
.head li:nth-child(5).on{transition: 1.0s; transition-delay: 0.8s;}
.head li:nth-child(6).on{transition: 1.2s; transition-delay: 1.0s;}
.head li:nth-child(7).on{transition: 1.4s; transition-delay: 1.2s;}
.head li:nth-child(8).on{transition: 1.6s; transition-delay: 1.4s;}
.head li:nth-child(9).on{transition: 1.8s; transition-delay: 1.6s;}
.logo{width: 80%; margin: 0 auto; padding-top: 5%; opacity: 0;}
.logo.on{opacity: 1; transition: 2.0s; transition-delay: 1.8s;}
.sub{width: 80%; margin: 0 auto;}
#sample{
    width: 90%; margin: 0 auto;
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 5%;
}
#product{
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
}
.product{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10%;
}
.product img{padding-top: 10%;}
.original{
    transform: translateX(-100%);
    transition: 0.3s;
}
.onion{
    transform: translateX(100%);
    transition: 0.3s;
}
footer{
    background: #0064A6;
}
footer img{width: 80%; margin: 0 auto; padding:5% 0;}

@media(max-Width:450px){
    .head img{width: 50%;}
}